/* Variable */
:root {
    --paddingContainer: 1.5rem;
    --fontSizeH1: 3rem;
    --fontSizeH2: 2.2rem;
    --fontSizeH3: 1.5rem;
    --fontSizeP: 1.3rem;
    --fontSizeA: 1.2rem;
    --fontColorH: rgb(100,100,100);
    --textIndentP: 2rem;
    --lineHeightP: 35px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

/* Header */
.container {
    text-align: center;
    width: 100%;
    height: auto;
}

.container h1 {
    margin-bottom: 1rem;
    font-size: var(--fontSizeH1);
    font-weight: bold;
    margin-top: 2rem;
    color: var(--fontColorH);
}

.container img {
    width: 100%;
    height: min(50vh, 80vh);
    object-fit: cover;
}

/* About */
.about {
    padding: var(--paddingContainer);
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about h2 {
    font-size: var(--fontSizeH2);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--fontColorH);
}

.about p {
    font-size: var(--fontSizeP);
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: justify;
    opacity: 0.8;
    text-indent: var(--textIndentP);
    line-height: var(--lineHeightP);
}

/* Job Position */
.position {
    padding: var(--paddingContainer);
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.position h2 {
    font-size: var(--fontSizeH2);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--fontColorH);
}

.position ul {
    list-style: none;
}

.position ul li {
    margin-bottom: 1rem;
}

.position ul li .position-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.position ul li .position-container .position-detail {
    width: min(60%, 80%);
}

.position ul li .position-container .position-detail h3 {
    font-size: var(--fontSizeH3);
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--fontColorH);
}

.position ul li .position-container .position-detail p {
    font-size: var(--fontSizeP);
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: justify;
    opacity: 0.8;
    text-indent: var(--textIndentP);
    line-height: var(--lineHeightP);
}

.position ul li .position-container a {
    text-decoration: none;
    color: rgb(255, 100, 100);
    font-size: var(--fontSizeA);
    font-weight: bold;
    border: 1.5px solid rgb(255, 100, 100);
    padding: 1rem;
    border-radius: 0.7rem;
    opacity: 0.8;
}

.position ul li .position-container a:hover {
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}

