<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>My Webpage</title>
</head>
<body>
    <!-- Header -->
    <div class="container">
        <h1>Job Careers</h1>
        <img src = "{{ url_for('static', filename='career.jpeg')}}" alt="Job Careers">
    </div>

    <!-- About -->
    <div class="about">
        <h2>About Job</h2>
        <p>Job is a platform that connects job seekers with employers. It is a place where you can find your dream job or hire the best talent for your company.</p>
        <p>Job is a place where you can find your dream job or hire the best talent for your company.</p>
    </div>

    <!-- Job Positions -->
    <div class="position">
        <h2>Job Positions</h2>
        <ul>
            {% for data in data %}
            <li>
                <div class="position-container">
                    <div class="position-detail">
                        <h3>{{data.job_title}}</h3>
                        <p>{{data.job_description}}</p>
                    </div>
                    <a href="{{url_for('apply', job_id=data.id)}}">Apply Now</a>
                </div>
                <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>