<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>My Webpage</title>
</head>
<body>
    <!-- Header -->
    <div class="container">
        <h1>Job Careers</h1>
        <img src = "{{ url_for('static', filename='career.jpeg')}}" alt="Job Careers">
    </div>

    <!-- About -->
    <div class="about">
        <h2>About Job</h2>
        <p>Job is a platform that connects job seekers with employers. It is a place where you can find your dream job or hire the best talent for your company.</p>
        <p>Job is a place where you can find your dream job or hire the best talent for your company.</p>
    </div>

    <!-- Job Positions -->
    <div class="position">
        <h2>Job Positions</h2>
        <ul>
            <li>
                <div class="position-container">
                    <div class="position-detail">
                        <h3>Software Engineer</h3>
                        <p>We are looking for a software engineer to join our team. You will be responsible for designing, coding, testing, and maintaining software applications.</p>
                    </div>
                    <a href="{{url_for('apply')}}">Apply Now</a>
                </div>
                <hr>
            </li>
            <li>
                <div class="position-container">
                    <div class="position-detail">
                        <h3>Data Scientist</h3>
                        <p>We are looking for a data scientist to join our team. You will be responsible for collecting, cleaning, and analyzing data to help our company make data-driven decisions.</p>
                    </div>
                    <a href="{{url_for('apply')}}">Apply Now</a>
                </div>
                <hr>
            </li>
            <li>
                <div class="position-container">
                    <div class="position-detail">
                        <h3>UX Designer</h3>
                        <p>We are looking for a UX designer to join our team. You will be responsible for designing user interfaces and experiences that are intuitive, easy to use, and visually appealing.</p>
                    </div>
                    <a href="{{url_for('apply')}}">Apply Now</a>
                </div>
                <hr>
            </li>
            <li>
                <div class="position-container">
                    <div class="position-detail">
                        <h3>Product Manager</h3>
                        <p>We are looking for a product manager to join our team. You will be responsible for defining the product vision, roadmap, and strategy, and working with cross-functional teams to launch new products.</p>
                    </div>
                    <a href="{{url_for('apply')}}">Apply Now</a>
                </div>
                <hr>
            </li>
        </ul>
    </div>
    
</body>
</html>